<div class="center jumbotron">
  <h1>Alph-Blog</h1>
  <%= link_to "Signup now", signup_path, class: 'btn btn-lg btn-xlarge' %>
  <p class="absolute-right">"Dream big and so on.."</p>
  <p class="absolute-right" style="top: 450px; right: 200px; font-size: 2em;">"Believe in yourself..."</p>
  <p class="absolute-left" style="padding-left: 50px; bottom: 150px; font-size: 3em;">"Never give up..."</p>
  <p class="absolute-left">"Let your dreams brings you into journey..."</p>
</div>