<div class="container">

<footer class="footer">

<small>

Copyright © <a href="enter in a link here">Jap-alph-blog</a> | 

Designed and created by <a href="enter in a link here">Yohanes Setiawan</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>