<div class="container">

<footer class="footer">

<small>

Copyright © <a href="https://alph-blog-crordc.herokuapp.com">Jap-alph-blog</a> | 

Designed and created by <a href="mailto:test27c@gmail.com">Yohanes Setiawan</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>